@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: bold inconsolata, sans-serif;
    font-weight: 300;
    color: rgb(82, 77, 77);
}

/* Header and Logo */

h1, h2 {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(82, 77, 77); 
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    margin-top: 20px
}

/* Nav element */

#nav {
    font-size: 130%;
    letter-spacing: 4px;

}

#nav, #logo {
    line-height: 75px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;


}

#nav a {
    text-decoration: none;
    color: inherit;

}

#nav a:hover {
    border-bottom: 2px solid rgb(82, 77, 77);
}

.active {
    border-bottom: 2px solid rgb(82, 77, 77);
}


/* The hero box and img */

#hero-box {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-img {
    height: 400px;
    width: 100%;
    background: url(../images/futhark.jpg) no-repeat center center;

}
    
#hero-text {

    font-size: 130%;
    font-family: ubuntu, sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba( 50, 50, 50, 0.7);
    bottom: 60px;
    right: 550px;

    position: absolute;
}


/* section information */


#main-info {
    background-color: black;
    color: #fff;
    padding: 15px 400px;
    line-height: 1.8;
}

#main-info h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}


#info-p2 {
    background-color: black;
    color: #fff;
    padding: 15px 400px;
    line-height: 1.8;
}

#info-p2 h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}

#info-p3 {
    background-color: black;
    color: #fff;
    padding: 15px 400px;
    line-height: 1.8;
}

#info-p3 h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}


/* footer */

footer {
    height: 150px;

}

#footer div {
    text-align: center;
    padding-top: 40px;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(82, 77, 77);
}   

/* media queries */

/* for larger to medium from 1200px and down */

@media screen and (max-width: 1200px) {
    #hero-text {
        left: 150px;
        position: absolute;

    }

    #main-info {
        padding: 15px 30px;
        line-height: 1.8;
    }
    
    #main-info h2 {
        text-align: left;
        padding-bottom: 30px;
    }
    
    
    #info-p2 {
        padding: 15px 30px;
        line-height: 1.8;
    }
    
    #info-p2 h2 {
        text-align: left;
        padding-bottom: 30px;
    }
    
    #info-p3 {
        padding: 15px 30px;
        line-height: 1.8;
    }
    
    #info-p3 h2 {
        text-align: left;
        padding-bottom: 30px;
    }

}

/* For medium sized screens below 950px and below */

@media screen and (max-width : 950px) {
    #nav {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    } 

    #hero-text {
        left: 60px;

    }

    #hero-img {
        width: 400px;
        height: 400px;
        object-fit: scale-down;
    }
}

