@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: bold inconsolata, sans-serif;
    font-weight: 300;
    color: #f01010;
    background-color: rgb(46, 45, 45);
}

/* headings and logo */

h1, h2 {
    font-family: ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #f01010; 
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;


}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid #f01010;
}

.active {
    border-bottom: 2px solid #f01010;
}


/* The hero image */

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 1200px;
    width: 100%;
    background: url(../images/hero.image.jpg) no-repeat center center;

    /* animates zoom effect on loading page */
   animation-name: hero-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;

}
/* create the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}  

/* footer */

footer {
    height: 150px;

}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f01010;
}    

/* section information */

#main-info {
    text-align: center;
    font-size: 120%;
    margin-top: 50px;
    list-style: armenian;
    border-bottom: 2px solid;
}